<%= form_with(model: emotion, local: true) do |form| %>
  <% if emotion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(emotion.errors.count, "error") %> prohibited this emotion from being saved:</h2>

      <ul>
        <% emotion.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_with(model: @emotion, method: :delete, url: emotion_path(@emotion)) do |form| %>
    <%= form.submit "Destroy" %>
  <% end %>
  

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :intensity %>
    <%= form.text_area :intensity, class: "form-control", rows: 3 %>
  </div>

  <div class="field">
    <%= form.label :emotions %>
    <%= form.text_area :emotions, class: "form-control", rows: 3 %>
  </div>
      
  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
