
<h1><%= @emotion.name %></h1>
<p><strong>Intensity:</strong> <%= @emotion.intensity %></p>

<%= link_to 'Edit', edit_emotion_path(@emotion) %> |
<%= link_to 'Back', emotions_path %>
<%= button_to "Destroy this emotion", @emotionn, method: :delete %>