
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
  Affirmations
  </button>

<table>
  <head>
    <tr>
      <th>Content</th>
      <th>Emotion</th>
      <th colspan="3"></th>
    </tr>
  </head>
  <tbody>
  <% @affirmations.each do |affirmation| %>
    <tr>
      <td><%= affirmation.content %></td>
      <td><%= affirmation.emotion ? affirmation.emotion.name : 'Unknown' %></td>
      <td><%= link_to 'Show', affirmation %></td>
      <td><%= link_to 'Edit', edit_affirmation_path(affirmation) %></td>
      <td><%= link_to 'Delete', affirmation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</tbody>
</table>

<br>
<%= link_to 'New Affirmation', new_affirmation_path %>
