<!DOCTYPE html>
<html>
  <head>
    <title>Affirmations</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', 'custom', media: 'all' %>
    <%= stylesheet_link_tag 'application', 'custom', media: 'all' %>
    
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <%= link_to 'Affirmation Generator', root_path, class: 'navbar-brand' %>
    </button>
    <div class="dropdown-menu" aria-labelledby="customerDropdown">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to 'Emotions', emotions_path, class: 'nav-link' %>
        </li>
      </ul>
        <li class="nav-item">
        <div class="dropdown-menu" aria-labelledby="customerDropdown">
          <%= link_to 'Affirmations', affirmations_path, class: 'nav-link' %>
        </li>
      </ul>
    </div>
  </div>
</nav>

  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
